/* ///////////////////////////// Body ////////////////////////// */

body {
background-color: #ffffff;
}

/* ///////////////////////////// P element ////////////////////////// */

p {
  font-size: 150%;
}



/* ///////////////////////////// Headers ////////////////////////// */

h2 a{
  color:#b48484;
}
h2{
  color:#015249;
}
h3 {
  color:black;
}

/* ///////////////////////////// Navbar ////////////////////////// */

navbar-fixed {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
}
nav ul {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
}
nav ul a {
  font-size:18px;
    color: #015249;

}

#banner {
  background-color:#57BC90;
}

.parallax {
  background: #34e89e; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #57BC90 , #77C9D4); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #57BC90 , #77C9D4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

center{
  padding-top: 10px;
  padding-right: 100px;

}

.tabs .tab a {
  color: #77C9D4;
}


.waves-effect.waves-light.btn-large {
    background-color: #57BC90;
    position:right;
  }

.container #Lower {
  background-color:#015249;
}

html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

strong{
  color: #015249;
   text-decoration: underline;
}


.row {
  background-color:#ffffff;
}

footer.page-footer {
background-color:#57BC90;
}
footer.footer-copyright {
  background-color:#015249;
}

.collapsible-header {
  font-size:150%;
  background: #34e89e; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #57BC90 , #77C9D4); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #57BC90 , #77C9D4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

table {
  font-size: 150%;


}

.flex-center-vertically {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 400px;
}

i.icon-blue {
  color: #57bc90;
}


/* ///////////////////////////// IDs ////////////////////////// */


#RegPad{
  padding-bottom: 0px;
}

#bottom {
  background-color:#015249;
  margin-bottom:0px;
  padding-bottom:0px;
}

#firsttable {
  background-color:#015249;
}

#changecolor {
  background-color:#57BC90;
}

#TableTitle {
  font-size:250%;
}

#customFont{
  color:black;
}
