body {

background-color: #A5A5AF;

}


h2 a{
  color:#b48484;
}
h2{
  color: black;
}
h3 {
  color:black;
}
#customFont{
  color:black;

}
#Mid-sec{
    background-color: ;
}

nav {
  background-color: #578C90;
}

border{
  background-color: #A5A5AF;
}
