body {

background-color: #ffffff;


}
p {
  font-size: 150%;
}

h2 a{
  color:#b48484;
}
h2{
  color: black;
}
h3 {
  color:black;
}
#customFont{
  color:black;

}

center{
  padding-top: 10px;
  padding-right: 100px;

}
nav {
  background-color: #578C90;
}

html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

strong{
  color: #015249;
}
